@import 'tailwindcss';

@layer base {
  body {
    @apply bg-white text-slate-950 antialiased;
  }

  button:not(:disabled) {
    cursor: pointer;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
